<%= form_with(model: tour_package) do |form| %>
  <% if tour_package.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tour_package.errors.count, "error") %> prohibited this tour_package from being saved:</h2>

      <ul>
        <% tour_package.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :place_id %>
    <%= form.text_field :place_id %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :available_dates %>
    <%= form.text_field :available_dates %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
