<%= form_with(model: tour_package) do |form| %>
  <% if tour_package.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tour_package.errors.count, "error") %> prohibited this tour_package from being saved:</h2>

      <ul>
        <% tour_package.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :destination_id %>
    <select name="destination_id">
    <% @destinations.each do |destination| %>
    <option value="<%= destination.id %>"> <%= destination.name %></option>
    <% end %>
    </select>
  </div>

  <div class="form-group">
    <%= form.label :price %>
    <%= form.text_field :price, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :available_dates %>
    <%= form.text_field :available_dates, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :duration %>
    <%= form.text_field :duration, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, class: "form_control" %>
  </div>

  <div class="actions">
    <%= form.submit "Create Package", class: "btn btn-lg btn-success "  %>
  </div>

<% end %>
