<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tour_package.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tour_package.description %>
</p>

<p>
  <strong>Place:</strong>
  <%= @tour_package.destination.name %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @tour_package.duration %>
</p>

<p>
  <strong>Price:</strong>
  <%= @tour_package.price %>
</p>

<p>
  <strong>Available dates:</strong>
  <%= @tour_package.available_dates %>
</p>

<br />
<%= link_to image_tag(@tour_package.image_as_thumbnail), @tour_package.image if @tour_package.image.attached? %>
<br />


<%= link_to 'Edit', edit_tour_package_path(@tour_package) %> |
<%= link_to 'Back', tour_packages_path %>
