<p id="notice"><%= notice %></p>

<p>
  <strong>Driver's age:</strong>
  <%= @vehicle.driver_age %>
</p>

<p>
  <strong>Pickup location:</strong>
  <%= @vehicle.location %>
</p>

<p>
  <strong>Check-in date:</strong>
  <%= @vehicle.check_in %>
</p>

<p>
  <strong>Check-out date:</strong>
  <%= @vehicle.check_out %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @vehicle.contact %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
