<p id="notice"><%= notice %></p>

<p>
  <strong>Driver:</strong>
  <%= @vehicle.driver %>
</p>

<p>
  <strong>Licence plate:</strong>
  <%= @vehicle.licence_plate %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @vehicle.contact %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
